<h1>
  <%= @invitation.email %>, you have been invited to create an account by the
  Cemex Environmental  Department.
</h1>

<p>
  Please follow click <%= link_to 'here', @url %> to register for your account!
</p>
<p>
  Thanks for joining the Cemex Environmental Application!
</p>
