<% if !obj.errors.empty? %>
  <section class="alert alert-danger errors" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="alert-heading mb-2">
      The following <%= pluralize(obj.errors.uniq.count, 'error') %> prevented your
      <%= msg %>:
    </h4>
    <ul class="error-messages">
      <% obj.errors.full_messages.uniq.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  </section>
<% end %>
