/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  *= require_tree .
  *= require_self
*/
$primary: #040C7D;
$secondary: #4F4F4F;

@import "bootstrap/scss/bootstrap";
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
}

dt {
  font-size: 18px;
  font-weight: 400;
}

input {
  padding: 5px 7px;
}

select {
  font-size: 1rem;
  padding: 8px 7px;
}

th {
  border-bottom: 2px solid #cecece;
  height: 50px;
}

td {
  border-bottom: 1px solid #cecece;
  height: 100px;
  vertical-align: middle;
}

tr:nth-of-type(2n+1) {
  background-color: #D3D3D3;
}

thead tr {
  background-color: #ffff !important;
}

tr:last-of-type {
  border-bottom: 3px solid #cecece;
}

form i {
  font-size: 1rem;
}

#logo {
  height: 65px;
  margin: 0;
  padding: 0;
  width: 250px;
  height: 80px;
}

#logo img {
  display: inline-block;
  height: auto;
  top: 0;
  width: 250px;
}

#nav-logo img {
  display: inline-block;
  height: 50px;
  position: relative;
  top: -5px;
}

#invite {
  position: relative;
  top: -2px;
}

input#water_meter_reading_image {
  display: none;
}

#thumbnail {
  display: inline-block;
  max-width: 25%;
}

#preview {
  display: inline-block;
  max-width: 100%;
}

#delete {
  font-size: 1.25rem;
}

#image-preview .modal-header {
  border-bottom: 0;
}

#filter-submit {
  position: relative;
  bottom: 2px;
}

.field_with_errors label {
  color: $danger;
}

.field_with_errors input {
  border: 1px solid $danger;
}

.btn {
  background: transparent;
}

.btn:focus {
  outline: none;
}

.zoom {
  color: $primary;
  font-size: 1.25rem;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 100;
}

button:focus {
  outline: none;
}

.full-size-image {
  border: 1px solid black;
  box-sizing: border-box;
  height: auto;
  width: 300px;
}

.actions a,
.actions input,
.actions button,
#actions-delete {
  width: 300px;
}

.errors h4 {
  font-size: 1.25rem;
  margin-top: .5rem;
}

.errors .close {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 1;
}

.error-messages {
  margin-left: 1rem;
}

@media (min-width: 0px) {
  .centered-form {
    width: 100%;
  }
}

@media (min-width: 576px) {
  #thumbnail {
    max-width: 20%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .centered-form {
    width: 75%;
  }
  #thumbnail {
    max-width: 15%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .centered-form {
    width: 35%;
  }
  #thumbnail {
    max-width: 10%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
