<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 18px;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
